// utils 工具
// 颜色
.bg-white {
    background-color: $color-white !important;
}

.bg-red {
    background-color: $color-red !important;
}

.bg-purple {
    background-color: $color-purple !important;
}

.bg-orange {
    background-color: $color-orange !important;
}

.bg-blue {
    background-color: $color-blue !important;
}

.bg-gray {
    background-color: $color-gray !important;
}

.fc-green {
    color: $color-green !important;
}

.fc-red {
    color: $color-red !important;
}

.fc-purple {
    color: $color-purple !important;
}

.fc-orange {
    color: $color-orange !important;
}

.fc-blue {
    color: $color-blue !important;
}

.fc-black {
    color: #000;
}

.fc-dark {
    color: #333;
}

.fc-white {
    color: #fff;
}

// 字体
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

// 文字对齐
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fw-b {
    font-weight: bold;
}

.fw-6 {
    font-weight: 600;
}

.fw-5 {
    font-weight: 500;
}

// 浮动与清除浮动
.fl {
    float: left;
}

.fr {
    float: right;
}

.fix {
    *zoom: 1;
}

.fix:after {
    display: table;
    content: '';
    clear: both;
}

// 显示
.dp-n {
    display: none;
}

.dp-i {
    display: inline;
}

.dp-b {
    display: block;
}

.dp-ib {
    display: inline-block;
}

.dp-t {
    display: table;
}

div.dib {
    *display: inline;
    *zoom: 1;
}

.vm {
    vertical-align: middle;
}

.vib {
    display: inline-block;
    vertical-align: middle;
}

// 定位
.ps-r {
    position: relative;
}

.ps-a {
    position: absolute;
}

.ps-f {
    position: fixed;
}


/* ==================
          布局
 ==================== */
.w-100m {
    width: 100% !important;
}

.no-scroll {
    overflow: hidden;
}

.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-a-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-b-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-b-s {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-s-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-s-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-c-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-a-s {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-column-a-e {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.flex-grow {
    flex-grow: 1;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.border-b {
    border-bottom: 1px solid #eee;
}

.border-t {
    border-top: 1px solid #eee;
}