// 主题色
$color-icon: #006eff;
$color-red: #ff3333;
$color-purple: #ff33a9;
$color-orange: #ff8833;
$color-blue: #c6eaff; // 文字色
$color-black: #000;
$color-dark: #333;
$color-deep: #555;
$color-pl: #999999;
$color-weak: #B3B3B3;
$color-gray: #ebebeb;
$color-white: #fff; // 背景色
$bg-bar: #ebebeb;
$bg-table: #ebebeb;
$bg-bar-font: #606266;
$bg-page: #f5f7fa;
$bg-page-light: #F9F9F9;

$font-color :#333;

$primary-color : #ffa400;
$info-color : linear-gradient(#ffd100, #ffa400);
$success-color : #67c23a;
$warning-color : #FEBF06;
$error-color : #FF6c6c;
$link-color : #2D8cF0;
$link-hover-color : lighten($link-color, 20%);
$link-active-color : darken($link-color, 5%);
$selected-color : shade($primary-color, 90%);
$tooltip-color : #fff;
$subsidiary-color : #80848f;
$rate-star-color : #f5a623;

/* 改变主题色变量 */
$--color-primary: $primary-color;

/* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";