{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    "stage-3"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread",
    ["component", [{
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }]]
  ]
}
