.button-1:active::after {
  content: url("./pixel.gif?action=click&id=button1");
  display: none;
}
.button-2:active::after {
  content: url("./pixel.gif?action=click&id=button2");
  display: none;
}
.cs-empty:empty {
  width: 120px;
  padding: 20px;
  border: 10px dashed;
}
.cs-loading-p:only-child {
  margin: 0;
  line-height: 150px;
}
