.button-1:active::after {
    //css埋点
    content: url('./pixel.gif?action=click&id=button1');
    display: none;
}

.button-2:active::after {
    content: url('./pixel.gif?action=click&id=button2');
    display: none;
}

.cs-empty:empty {
    //空标签占位
    width: 120px;
    padding: 20px;
    border: 10px dashed;
}

.cs-loading-p:only-child {
    //无兄弟自己上
    margin: 0;
    line-height: 150px;
}