@import './helper/_variable.scss';
@import './common/index.scss'; // 公共样式、非组件的 零散公共样式
@import './form.scss';
@import './table.scss';
@import './diy.scss';

.el-autocomplete-suggestion li:hover {
    background-color: #ebebeb !important;
}

.el-select-dropdown__item:hover {
    background-color: #ebebeb !important;
}

span.el-tree-node__label {
    color: #333 !important;
}

.el-tree-node__content {
    &:hover {
        background-color: #ebebeb !important;
    }

    .el-tree-node__label {
        &__text {
            height: 100%;
            display: inline-block;
            max-width: 120px;

            &:hover {
                // background-color: #ebebeb !important;
            }
        }
    }
}

.el-tree-node.is-current.is-focusable .el-tree-node__content {
    // background-color: #fff !important;
}

.el-tree-node.is-current.is-focusable .el-tree-node__content span.el-tree-node__label {
    color: #00c1de !important;
}

.el-tree-node.is-current.is-focusable .el-tree-node__children .el-tree-node__content {
    // background-color: #fff !important;
}

.el-tree-node.is-current.is-focusable .el-tree-node__children .el-tree-node__content:hover {
    background-color: #ebebeb !important;
}

.el-tree-node.is-current.is-focusable .el-tree-node__children .el-tree-node__content span.el-tree-node__label {
    color: #333 !important;
}

.menuForm .el-form-item--mini .el-form-item__label {
    line-height: 28px !important;
}

label.el-form-item__label {
    color: #444 !important;
}

.el-table {
    color: #444 !important;
}

.el-table__header-wrapper .cell {
    color: #333 !important;
}

.layout-content {
    height: 100%;
    width: auto;
    background-color: #fff;
    z-index: 2;

    .contain-aside {
        width: 220px;
    }
}

.el-tree {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    &.tree-nm {
        .is-leaf+span {
            color: #333;
        }
    }

    &>.el-tree-node {
        min-width: 100%;
        display: inline-block;
    }
}

.tree-flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;

    .el-tree {
        flex: 1;
        overflow-y: auto;
    }
}

.list-main {
    display: flex !important;
    flex-direction: column;

    .contain {
        flex: 1;
        overflow-y: auto;

        .page-main {
            min-height: calc(100% - 50px)
        }
    }

    .contain-main,
    .contain-aside {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.ell-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.df-center {
    display: flex;
    align-items: center
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
    overflow: hidden;

    &>div {
        display: block
    }
}

a {
    text-decoration: none;
}

.newsSelect {
    .el-input__inner {
        cursor: pointer;
    }
}

div.el-tabs__item.is-active,
div.el-tabs__item:hover {
    color: darken($primary-color, 5%);
}
.el-tabs__nav{
    margin-left: 40px;
}
.el-tabs__active-bar {
    background: darken($primary-color, 5%);
}

.avatar-80 {
    width: 80px;
    height: 80px;
}

//配置页面
.demo-item {
    margin: 0 20px 20px 0;

    .top {
        position: relative;
        height: 78px;
        width: 180px;
        margin-bottom: 10px;

        img {
            height: 78px;
            width: 100%;
        }

        .tit {
            position: absolute;
            z-index: 2;
            color: #fff;
            width: 100%;
            font-size: 16px;
            height: 78px;
            text-align: center;
            background: no-repeat center rgba(0, 0, 0, 0.2);
            background-size: cover;
        }

        .mask {
            position: absolute;
            z-index: 10;
            color: green;
            left: 0;
            text-align: center;
            top: 0;
            font-size: 16px;
            line-height: 78px;
            width: 100%; // background: rgba(0, 0, 0, 0.2);
        }

        .mask-border {
            height: 78px;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}

.tipsColor {
    color: #09c;
}

.permission-dialog {
    .el-dialog__footer {
        margin: 0 10px;
        border-top: 1px solid #ddd;
        padding: 20px;
    }
}

.form-content-item {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 15px;
    margin: 0 auto 10px;
}

.a-tree-select {
    z-index: 9999 !important;
    max-height: 320px !important;
}

.ant-select-open .ant-select-selection {
    box-shadow: unset !important;
}

.ant-select-selection:hover {
    border-color: #c0c4cc !important;
}

.ant-select-selection:active,
.ant-select-selection:focus {
    box-shadow: unset !important;
}

.ant-select-open.ant-select-focused:hover {
    .ant-select-selection {
        border-color: #40a9ff !important;
    }
}

.ant-select-search__field__placeholder {
    font-size: 12px;
}

.ant-select-selection {
    border-radius: 0 !important;
}

.select-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: #c0c4cc;
    line-height: 32px;
    cursor: pointer;
}

.select-icon-up {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.select-icon-down {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
}

.clearButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c0c4cc;
    cursor: pointer;
    display: none;
}

.clearButton:hover {
    display: inline-block;
}

.inputHover:hover+.clearButton {
    display: inline-block;
}

li.ant-select-selection__choice {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent !important;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5 !important;
    height: 20px !important;
    padding: 0 20px 0 5px !important;
    line-height: 19px !important;
    color: #909399 !important;
    font-size: 12px;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove {
    display: inline-block;
    top: 3px;
    border-radius: 2rem;
    background-color: #c0c4cc;
    width: 13px;
    height: 13px;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove:hover {
    background-color: #909399;
}

.ant-select-selection--multiple>ul>li {
    margin-top: 5px !important;
}

i.ant-select-remove-icon.anticon.anticon-close {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 1px;
    left: 3px;

    svg {
        width: 7.2px;
        height: 7.6px;
    }
}

// pagination
.el-pager li.active {
    color: $primary-color;
    cursor: default;
}

.el-pager li:hover {
    color: $primary-color;
}

//日期选择器
.el-date-editor--daterange {
    width: 400px !important;
}

.el-date-editor--monthrange {
    width: 400px !important;
}

//switch
.el-switch.is-checked .el-switch__core {
    border-color: $primary-color;
    background-color: $primary-color;
}

.el-switch__label.is-active {
    color: $primary-color;
}

//上传
.logo-container /deep/ .el-upload {
    width: 80px;
    height: 80px;
    line-height: 90px;
}

.logo-container /deep/ .el-upload-list__item {
    width: 80px;
    height: 80px;
    line-height: 90px;
}

body .el-table th.gutter { //解决element表格不对齐
    display: table-cell !important
}