.el-form-item__label {
	font-size: 13px;
}

.info-second {
	display: inline-block;
	font-size: 12px;
	color: #999;
}

.search-form {
	margin: 0 -20px;
	// min-width: 1024px;
	padding: 0 20px;
	box-shadow: 0 1px 1px hsla(0, 0%, 68%, .35);
	overflow: hidden;
	// height: 42px;
	transition: all .3s;

	.el-button {
		margin-bottom: 18px;
	}

	.el-form-item__label {
		width: 110px;
	}

	.mini-search {
		position: relative;
		padding-right: 100px;
		display: inline-block;

		.mini-search-button {
			margin-top: 2px;
		}
	}

}

.search-open {
	display: inline;
}

.search-close {
	display: none;
}

.x-expand-table {
	.el-table__expanded-cell {
		background: #ebebeb;
	}

	.el-table__expanded-cell:hover {
		background-color: #ebebeb !important;
	}

	.table-expand-form {
		text-align: left;

		.el-form-item {
			min-width: 210px;
			margin-right: 30px;

			.el-form-item__label {
				font-size: 14px;
				color: #666 !important;
			}

			.el-form-item__content {
				font-size: 14px;
			}
		}
	}
}

.info-form {
	header {
		padding-left: 20px;
		border-left: 3px solid #409eff;
		height: 22px;
		line-height: 18px;
		font-size: 16px;
		margin: 20px 0;
		color: #555;

		button {
			margin-top: -4px;
		}
	}

	.info-content {
		padding-left: 23px;
	}

	.info-content-flex {
		display: flex;
		flex-wrap: wrap;
	}

	.form-content-p {
		height: 38px;
		line-height: 38px;
		color: #666;
	}

	.info-input {
		display: inline-block;
		vertical-align: top;
		width: 24%;
	}

	.cab-pic-wrap {
		width: 100%;
		position: relative;
	}

	.cab-pic-box {
		width: 100%;

		.tmp-model {
			position: absolute;
			width: 33%;
			height: 520px;
			left: 100px;
			top: -300px;
			overflow: auto;
			// padding: 10px;
			border: 1px solid #afd1fd;
			box-sizing: border-box;
			background-color: #fff;
			z-index: 1000;

			ul {
				width: 100%;
				height: 100%;

				li {
					width: 100%;
					/* height: 110px; */
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					padding: 10px;
					box-sizing: border-box;
					border-bottom: 1px dashed #e5e5e5;
					cursor: pointer;

					.tmp-box {
						width: 90%;
						height: 100%;

						div {
							float: left;
							/* width: 33%; */
							height: 30px;
							font-size: 14px;
							color: #606060;
							line-height: 30px;
							margin-right: 20px;
						}

						div:last-child {
							width: 100%;
						}
					}
				}

				li:hover {
					background-color: #ecf5ff;

					div {
						color: #66b1ff;
					}
				}

				li>span {
					font-size: 16px;
					font-family: MicrosoftYaHei-Bold;
					font-weight: bold;
					color: #409eff;
				}
			}
		}

		.photo-model {
			position: absolute;
			width: 33%;
			height: 520px;
			left: 55%;
			top: -300px;
			background: #ecf5ff;
			border: 1px solid #afd1fd;
			padding: 0px 7% 10px;
			box-sizing: border-box;
			z-index: 1000;

		}

		.photo-model>div {
			width: 100%;
			height: calc(100% - 40px);
			background: rgba(231, 234, 238, 1);
			border: 1px solid rgba(229, 229, 229, 1);
			padding: 6px;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;

			ul {
				width: 45%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				li {
					width: 100%;
					height: 5.8823%;
					background-color: #fff;
					border-top: 1px solid rgba(229, 229, 229, 1);
					box-sizing: border-box;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					.middleHeight {
						height: 11.7647%;
					}

					.largeHeight {
						height: 17.647%;
					}

					div {
						width: 80%;
						height: 80%;
						background: linear-gradient(0deg,
								rgba(185, 229, 255, 1),
								rgba(232, 247, 255, 1));
						border: 1px solid rgba(166, 222, 255, 1);
						border-radius: 5px;
						font-size: 16px;
						font-family: MicrosoftYaHei;
						font-weight: bold;
						color: rgba(61, 122, 200, 1);
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
}

.foot-btn {
	background: #fff;
	width: calc(100% - 30px);
	text-align: center;
	padding: 20px 0;
	position: fixed;
	z-index: 999;
	left: 15px;
	bottom: 15px;
	border-top: 1px solid #eee;
	box-shadow: 0px -4px 8px -3px #ddd;
}

.price-set {
	input.el-input__inner {
		font-size: 14px;
	}
}

// .reject-set {
// 	.el-input-group__append {
// 		button.el-button {
// 			border: none;
// 			min-width: 60px;
// 		}

// 		button.el-button:first-child {
// 			margin-right: 1px;
// 		}

// 		button.el-button:last-child {
// 			margin-left: 1px;
// 		}

// 		button.el-button--default:focus,
// 		button.el-button--default:hover {
// 			background: unset;
// 			color: unset;
// 			border: unset;
// 		}
// 	}
// }