@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1584156652127'); /* IE9 */
  src: url('iconfont.eot?t=1584156652127#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABvQAAAJ/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDGgqBGIEcATYCJAMUCwwABCAFhG0HWhsiBsiemjwJtDDpNBaG9DaDgRDFw/dj3859tiKSxPHu09Wa+HQiiQQpEwpdNFpdzeR/taYbYJ/Y9QFyKaIK6oe9+3u6n/stORa+xlWZRshUAgldGIMT2HRbpM9k4OWseGA36lL9/6RTA6lrZwGJeitUeuU8/QQwHKAA9oahkCVCEeMssou4ExfxmECvRS2ZC4fnUygr0KpAPFfSgnIhoyhGvVtoDQeLeK/qTm/TK95F349DJ6JMUjO08eLDAxe2d3g3t51bdzklS5CPV2RsAYW43Vi5KicMZU5vJW8N7GtWsON/hx24T+z1Dy/JCtGg3n5wRq4WdqCEYKcJiZ0hZHY0/4zeCnqLtWngiCpYcgW2N3T5q/l0U5IWcmM6c8TWbLHhbC7mW/Qp2fZl2b9JKTh/XJcly88OnV+TVvURH7yy7aschWvq0jyVOoD0OvtFaQP96ReB4E0zPz8o/5drBfy+5MhTjKt2S4BNv88E5BTfgry1uMPU6MaqBlyZ0KsXHSgx6m0e9wR4kNBtYkSsy0KGrNsSXQRbqPqcQtPtNHptOjreZ4yRE6UHG54khGEvSAZ9RDZsSRfBCtWkPzTDkUOv6xEX9lkJVS1DFpOL9g0qR8eC+Lka949JXoSWyVsi1ZxMqvLY7/TK9SOKycyxJb2UA2aBwugID6XnKAw1Jkb75HDHY05G3a5oelPH0RFUnWcQCyMuZLuBFIcWE3w8q1Y+P0akCyGL6WD19OeIkVLTo76OHoA+csYg1r28krokDTAmIMHQIuhQCpEQVzSUNM/zEQfr8EaUEiNdZZSAOjvru6NvPAG90OwaKXKUqNH03Hy2zZS+ljHh9HWDQXgIAAA=') format('woff2'),
  url('iconfont.woff?t=1584156652127') format('woff'),
  url('iconfont.ttf?t=1584156652127') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1584156652127#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon-test:before {
  content: "\e658";
}

.iconicon-test1:before {
  content: "\e659";
}

.iconicon-test2:before {
  content: "\e65a";
}

.iconicon-test3:before {
  content: "\e65b";
}

