// 列表页面 顶部操作
@import '../helper/_variable';
$padding: 15px;
$margin: 25px;
$breadcrumbbfclolr: #ddd;

.main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-content .has-bread {
    height: calc(100% - 40px);
}

.overflow {
    overflow: auto;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.w-100 {
    width: 100%;
}

.lh40 {
    line-height: 40px;
}

.pl-20 {
    padding-left: 20px;
}

.h-100 {
    height: 100%;
}

.scroll-contain,
.scroll-main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.mh100 {
    height: auto;
    min-height: 100%
}

// 分页
.table-footer-box {
    margin-top: 20px;
    margin-bottom: 2px;
}

//共公标题
.section-title {
    border-left: 3px solid $primary-color;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;

    .title {
        font-weight: bold
    }

    .info {
        margin-left: 20px;
        font-size: 12px;
        color: #888;
    }

    .second-title {
        margin-left: 20px;
        font-size: 12px;
    }
}

//step进度
.step {
    height: 32px;
    padding-bottom: 30px;

    &::after {
        content: '';
        overflow: hidden;
        clear: both
    }

    .step-item {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background: #ddd;
        display: inline-block;
        margin-right: 88px;
        position: relative;
        float: left;
        top: 9px;

        &:after {
            content: '';
            width: 85px;
            height: 2px;
            background: #ebebeb;
            position: relative;
            top: 6px;
            left: 16px;
            display: block
        }

        &:last-child {
            &:after {
                display: none
            }
        }

        .text {
            position: absolute;
            bottom: -28px;
            left: -18px;
            width: 50px;
            color: #888;
            text-align: center
        }
    }

    .step-item.active {
        top: 0px;
        background: #fff;
        color: $primary-color;
        font-size: 32px;

        &:after {
            content: '';
            width: 69px;
            height: 2px;
            background: $primary-color;
            position: relative;
            top: -16px;
            left: 32px;
            display: block;
        }

        .text {
            bottom: -37px;
            left: -10px;
            color: $primary-color;
            font-size: 12px;
            font-family: Microsoft YaHei
        }
    }

    .step-item.error {
        top: 0px;
        background: #fff;
        border-radius: 16px;
        color: #E66565;
        font-size: 32px;

        &:after {
            content: '';
            width: 69px;
            height: 2px;
            background: $primary-color;
            position: relative;
            top: -16px;
            left: 32px;
            display: block;
        }

        .text {
            bottom: -37px;
            left: -10px;
            color: #E66565;
            font-size: 12px;
            font-family: Microsoft YaHei
        }
    }
}

//页面状态控制条
.page-status-bar {
    padding: 9px 20px;
    border-bottom: 1px solid #ddd;

    .page-location {
        padding-top: 10px;
        text-align: right;

        a {
            margin-left: 15px;
        }
    }

    .timer {
        padding-top: 7px;
        font-size: 14px;
        height: 20px;
        line-height: 20px;

        .icon-clock {
            display: inline-block;
            background: #E66565;
            width: 17px;
            height: 20px;
            top: -3px;
            line-height: 16px;
            margin-right: 10px;
            position: relative;
            padding-left: 3px;
            border-radius: 50%;
            font-size: 12px;
            color: #fff
        }

        .num {
            color: #E66565
        }
    }
}

.button-icon-r-large {
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    background: #ebebeb;
    display: inline-block;
    padding: 0 10px 0 12px;
    padding-right: 40px;
    min-width: 140px;
    position: relative;
    margin: 0 10px 10px 0;

    i {
        position: absolute;
        right: 12px;
        top: 13px;
        color: #C6C6C6;
        cursor: pointer;
        font-size: 16px;
    }

    &:hover i {
        color: #E66565
    }
}

.button-icon-r-large-blue {
    font-size: 13px;
    height: 42px;
    line-height: 42px;
    background: $primary-color;
    display: inline-block;
    padding: 0 10px 0 12px;
    padding-right: 40px;
    color: #fff;
    min-width: 114px;
    position: relative;
    margin: 0 10px 10px 0;

    i {
        position: absolute;
        right: 12px;
        top: 13px;
        color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
        font-size: 16px;
    }

    &:hover i {
        color: #fff
    }
}

.button-icon-r-small {
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    background: #ebebeb;
    display: inline-block;
    padding: 0 10px 0 12px;
    padding-right: 40px;
    min-width: 114px;
    position: relative;
    margin: 0 10px 10px 0;

    i {
        position: absolute;
        right: 12px;
        top: 9px;
        color: #C6C6C6;
        cursor: pointer;
        font-size: 16px;
    }

    &:hover i {
        color: #E66565
    }
}

.button-icon-r-small-blue {
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    background: $primary-color;
    display: inline-block;
    padding: 0 10px 0 12px;
    padding-right: 40px;
    color: #fff;
    min-width: 114px;
    position: relative;
    margin: 0 10px 10px 0;

    i {
        position: absolute;
        right: 12px;
        top: 9px;
        color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
        font-size: 16px;
    }

    &:hover i {
        color: #fff
    }
}

.button-icon-r-large-bolid {
    font-size: 13px;
    height: 42px;
    line-height: 42px;
    background: #fff;
    border: 1px solid $primary-color;
    display: inline-block;
    padding: 0 10px 0 12px;
    padding-right: 40px;
    color: $primary-color;
    min-width: 114px;
    position: relative;
    margin: 0 10px 10px 0;

    i {
        position: absolute;
        right: 12px;
        top: 13px;
        color: #ddd;
        cursor: pointer;
        font-size: 16px;
    }

    &:hover i {
        color: $primary-color
    }
}

//竖式菜单
.collapse-tree {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;

    .el-tree-node__content {
        height: 42px;
        line-height: 42px;
        border-bottom: 1px solid #ddd
    }
}

.collapse-tree .el-tree-node .el-tree-node__conten:last-child {
    border-bottom: none
}

//表头设置
.columns-config {
    width: 260px;
    height: 200px;
    position: absolute;
    border: 1px solid #ddd;
    right: 0px;
    top: 28px;
    padding: 10px 15px;
    z-index: 10;
    background: #fff;
    text-align: left;
    overflow-y: auto;
    display: none;
}

.columns-config .el-col {
    margin-top: 5px;
}

.detail-common-img img {
    height: 150px;
    width: auto;
    margin-right: 20px;
}

.btn-upload {}

.btn-status {
    height: 32px;
    line-height: 32px;
    background: #D4EEF6;
    color: $primary-color;
    padding: 0 20px !important;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

//装态图标
.icon-status-red {
    color: #FA6C6C;
}

.icon-status-orange {
    color: #FF8F18
}

.icon-status-green {
    color: #129E5B
}

.icon-status-blue {
    color: #00C1DE;
}

.icon-status-yellow {
    color: #FFD618;
}

.icon-status-gray {
    color: #C6C6C6;
}

//
.circle-status-red {
    vertical-align: sub;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #FA6C6C
}

.circle-status-orange {
    vertical-align: sub;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #FF8F18
}

.circle-status-green {
    vertical-align: sub;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #129E5B
}

.circle-status-blue {
    vertical-align: sub;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #00C1DE
}

.circle-status-yellow {
    vertical-align: sub;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #FFD618
}

.circle-status-gray {
    vertical-align: sub;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #C6C6C6
}

.flex-between {
    display: flex;
    justify-content: space-between;
}